{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} - Index - {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hi,
    {% if current_user.is_authenticated %}
    	{{ current_user.username }}
    {% else %}
    	Stranger
    {% endif %}!
    Welcome to FlaskBlog~
    </h1>
    <h4>You can write articles here..</h4>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form)}}
    {% endif %}
</div>
<ul class="posts">
	{% for post in posts %}
	<li class="post">
		<div class="profile-thumbnail">
			<a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
		</div>
		<div class="post-body">{{ post.body }}</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}

